body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.topper img{
    width: 7em;
    height: 7em;
    margin-top: 20px;
    border-radius: 50%; /* If you'd like circle img, your border-radius will be "50%" */
    border: dashed 1px;
}

.topper h1{
    font-family: sans;
    font-size: 30px;
    text-align: center;
    color: #003300 ;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: lighter;
}

.topper p{
    font-size: 14px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
    color: #003300 ;
}

div#chest_of_drawer{
    max-width: 700px;
    width: 94%;
    margin: auto;
    text-align: center;
    min-height: calc(100vh - 40px);
}

#chest_of_drawer > a{
    margin: 10px auto;
    height: 25px;
    border-radius: 10px;
    border: 1px solid #003300 ;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom right, #ebf5d6, #d6ebad, #add65c,#99cc33, OliveDrab);
    /*if you'd like to change colors and you don't know the correct color-names..
    you could have a look at: https://www.w3schools.com/colors/colors_names.asp */
    text-decoration: none;
    color: #003300 ;
    text-align: center;
    font-weight: bold;
    display: block;
    padding: 15px;
}

.cc {
    font-size: 12px;
    color: #003300 ;
    text-align: center;
    height: 30px;
    margin-bottom: 10px;
}
